<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="toshiba.test.plugins.toast"
        version="2.0.1">

  <name>Toast</name>

  <description>
    This plugin allows you to show a Toast.
    A Toast is a little non intrusive buttonless popup which automatically disappears.
  </description>

  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <js-module src="www/Toast.js" name="Toast">
    <clobbers target="window.plugins.toast" />
  </js-module>

  <js-module src="test/tests.js" name="tests">
  </js-module>
  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Toast">
        <param name="android-package" value="toshiba.test.plugins.Toast" />
      </feature>
    </config-file>
    <source-file src="Toast.java" target-dir=""/>
  </platform>
</plugin>
